:root {
    --primary-color:#5d0fa5;
    --light-primary:#7F2CCB;
    --lightest-color:#ADA8B6;
    --secondary-color:#2A2D43;
    --light-secondary:#414361;

}

#modal-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    align-items: center;
    justify-content: center;
    color: red;
}

#modal-background {
    background-color: var(--light-primary);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    opacity: 0.4;
}


#modal-container {
    z-index: 1;
    background-color: var(--lightest-color);
    padding: 1rem 3rem;
    border-radius: 10px;
}